*{
  padding-right: 0!important;
  margin-right: 0!important;
}
html,body{
  width: 100%;
}

.hero{
  width: 100%;
}

.navbar{
  width: 100%;
  left: 0;
}

/* sec-group-12585 */
.sec-group-12585{
  width: 100%;
  padding: 20px;
}

.p-sec-12585{
  margin-left: 90px;
}

.img-11283{
  margin-left: 90px;
}

/* sec-group-14570 */
.sec-group-14570{
  width: 100%;
  padding: 20px;
}

/* sec-13300 */
.sec-13300{
  width: 100%;
}

/* sec-13087 */
.sec-13087{
  width: 100%;
}

/* sec-13322 */
.sec-13322{
  width: 100%;
}

/* sec-rec-1828 */
.sec-rec-1828{
  width: 100%;
}

section{
  width: 100%;
}

/* sec-14680 */
.sec-14680{
  width: 100%;
}

footer{
  width: 100%;
}

.sec-14412{
  width: 100%;
}