/* sec-group-12585 */
.sec-group-12585{
  width: 1440px;
  height: 375px;
  background: #F2F6FC 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.p-sec-12585{
  width: 756px;
  height: 72px;
  margin-top: 80.19px;
  margin-left: 130px;
  text-align: left;
  letter-spacing: 0px;
  color: #202020;
  opacity: 1;
  font-family: Gilroy-Medium;
  font-size: 26px;
}

.img-11283{
  margin-top: 82px;
  margin-left: 125px;
  width: 1190px;
  height: 53px;
}