html,body{
  width: 100%;
}

.hero{
  width: 100%;
}
  
.hero .header-content{
  text-align: left;
  align-items: flex-start;
}

.main-text{
  padding: 20px;
  margin: 0;
  height: max-content;
  text-align: left;
}

.p-below-main-text{
  margin: 0;
  padding: 20px;
  height: max-content;
  align-self: flex-start!important;
}
  
.btn-developers-profile{
  margin: 20px;
  margin-right: 0!important;
}

.header-content-reviews{
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 0!important;
  grid-row-gap: 10px!important;
  flex-direction: column;
}
  
.navbar{
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  display: none;/* remove later */
}

.navbar ul{
  margin-top: 20px;
  flex-direction: column;
}

.btn-primary{
  margin-left: 0;
}


/* Main */
/* sec-group-12585 */
.sec-group-12585{
  width: 100%;
  padding: 20px;
  height: max-content;
}

.p-sec-12585{
  width: 100%;
  margin: 0;
}

.img-11283{
  margin: 0;
  margin-top: 30px;
  width: 100%;
  height: auto;
}

/* sec-group-14570 */
.sec-group-14570{
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}

.sec-14570-title{
  width: 100%;
  height: max-content;
  margin: 0;
}

.p-sec-14570-description{
  margin: 0;
  margin-top: 40px;
  width: 100%;
  height: max-content;
}

.div-14570-grid{
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-left: 0;
  padding: 20px;
  width: 100%;
  grid-gap: 10px;
}

.grid-card{
  width: 90%;
  height: max-content;
  padding: 20px!important;
  align-items: flex-start!important;
}

.h1-travel-tourism,
.h1-on-demand,
.h1-ecommerce,
.h1-medical,
.h1-banking,
.h1-virtual-reality,
.h1-logistics,
.h1-college{
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}
  
.p-virtual-reality,
.p-on-demand,
.p-ecommerce,
.p-medical,
.p-banking,
.p-logistics,
.p-travel-tourism,
.p-college{
  font-size: 16px;
  width: 90%;
  height: max-content;
  text-align: left!important;
}

/* sec-13300 */
.sec-13300{
  align-items: flex-start;
  width: 100%;
  height: max-content;
  padding: 20px;
}

.h1-13300{
  width: 90%;
  margin: 0;
}

.p-13300{
  width: 90%;
  margin-top: 40px;
  align-self: flex-start!important;
}

.btn-13300{
  margin-top: 60px;
}

/* sec-13087 */
.sec-13087{
  width: 100%;
  height: 406px;
  padding: 20px;
}
  
.div-13087{
  margin-top: 140px!important;
  margin: 0;
}
  
.p-13087{
  margin: 0;
  width: 90%;
  margin-top: 30px;
}

/* sec-13322 */
.sec-13322{
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  grid-row-gap: 30px;
}

.img-13322{
  margin: 0;
}

.h1-13322{
  margin: 0;
}

.btn-section-13322{
  margin: 0;
}

.app-info-grid{
  padding: 0;
  width: 100%;
  align-items: center;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.div-grid-cards{
  width: 90%;
  height: max-content;
}

.img-13148,
.img-13149,
.img-13150,
.img-13151,
.img-13152,
.img-13153{
  width: 100%;
}

.sec-13322 p{
  font-size: 15px;
  width: 100%;
}

/* sec-rec-1828 */
.sec-rec-1828{
  width: 100%;
  padding: 20px;
  height: max-content;
}

.h1-1828-head{
  width: 90%;
  height: max-content;
  margin: 0;
}

.div-1828-grid{
  flex-direction: column;
  margin-left: 0;
  grid-row-gap: 20px;
}

.div-grid-template{
  width: 100%;
  padding: 20px;
}

.p-grid-1{
  width: 100%;
  margin-top: 12px;
}

.p-content-grid-1{
  margin-top: 0px;
  width: auto;
}

.img-line{
  margin-top: 10px;
}

.p-name-1{
  margin-top: 4px;
}

/* sec-14680 */
.sec-14680{
  width: 100%;
  padding: 20px;
  align-items: flex-start;
}

.h1-14680{
  width: 90%;
  margin: 0;
}

.p-14680{
  width: 90%;
  margin-top: 70px;
  align-self: flex-start!important;
}

.div-btn-14680{
  margin-top: 100px;
}

/* sec-technology-used -------------------------------------------------------------------*/
.sec-technology-used{
  width: 100%;
  padding: 20px;
}

.sec-technology-used *{
  height: max-content;
}

.img-14406{
  margin: 0;
}

.h1-tech-used{
  margin-left: 0;
  width: 100%;
  font-size: 35px;
}

.div-tech-used-grid{
  margin-left: 0;
  margin-top: 30px;
}

.tech-grid-content{
  flex-direction: column;
  align-items: flex-start;
}

.h1-title{
  width: 90%;
  font-size: 25px;
}

.p-title-content{
  width: 90%;
  text-align: left!important;
  align-self: flex-start!important;
}

.img-15119,
.img-14814,
.img-14817,
.img-14822,
.img-15120,
.img-14836,
.img-14829,
.img-15121
{
  display: none;
}


/* sec-14788 */
.sec-14788{
  width: 100%;
  padding: 20px;
}

.sec-14788 *{
  height: max-content;
  margin-top: 5px;
}

.h1-14788{
  margin: 0;
  width: 90%;
}

.div-14788-grid{
  margin: 0;
  padding: 20px;
}

.div-14788-grid-content{
  flex-direction: column;
  align-items: flex-start;
}

.img-google-analytics,
.img-14422,
.img-14423,
.img-14789,
.img-14425{
  display: none;
  /* height: 202px;
  width: 345px;
  margin-top: 30px; */
}

/* 13191 sec-development-services */
.sec-development-services{
  width: 100%;
  padding: 20px;
  height: max-content;
}

.h1-appdev{
  width: 90%;
  /* font-size: ; */
}

/* .sec-development-services *{
  height: max-content;
} */

.sec-development-services h1,p{
  text-align: center!important;
}

.h1-development-services{
  width: 90%;
  margin: 0;
}

.p-development-services{
  width: 90%;
  margin-left: 0;
  height: max-content;
}

.div-grid-development-services{
  padding-right: 0;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-left: 0;
  margin-right: 0!important;
  margin-top: 10px;
}

.div-grid-development-services h1{
  font-size: 22px;
}

.div-grid-card-ds{
  align-items: center;
  justify-content: center;
  width: 361px;
  height: 322px;
  grid-row-gap: 10px;
  padding: 20px!important;
}

.p-web-dev,
.p-webapp,
.p-appdev,
.p-ui-ux,
.p-mobile-app,
.p-eed,
.p-nft{
  width: 90%;
  margin-top: 0;
}


/* sec-why-hire-cronj */
.sec-why-hire-cronj{
  width: 100%;
  padding: 20px;
}

.sec-why-hire-cronj *{
  height: max-content;
}

.sec-why-hire-cronj h1,p{
  text-align: center!important;
  align-self: center!important;
}

.h1-why-hire-cronj{
  width: 90%;
  margin: 0;
  font-size: 30px;
  text-align: left;
}

.p-why-hire-cronj{
  width: 90%;
  margin: 0;
  text-align: left;
  margin-top: 6px;
}

.p-rating,
.p-guarantee,
.p-web-traffic,
.p-client,
.p-page{
  width: 99%;
}

.h1-below-grid{
  width: 100%;
  margin-left: 0;
  margin-bottom: 100px;
}

.div-numbers-grid{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  padding-right: 0;
  grid-row-gap: 65px;
}

.div-numbers-grid-cards{
  align-items: center;
  justify-content: center;
}

.div-numbers-grid-cards p{
  text-align: center!important;
}

.h1-business-models{
  margin-left: 0;
  width: 90%;
}

.div-business-models{
  flex-direction: column;
  margin-left: 0;
  padding-right: 0;
}

/* .div-inner-bm-left{
  flex-direction: column;
} */

.h1-time-and-material,
.h1-monthly-billing,
.h1-hourly-billing{
  width: 90%;
}

.p-hourly-billing,
.p-monthly-billing,
.p-time-and-material{
  width: 90%;
  margin-bottom: 30px;
}

.img-15122{
  width: 100%;
  height: auto;
  display: none;
}

.div-numbers-img{
  flex-direction: column;
  margin-left: 0;
  grid-row-gap: 20px;
}

.div-numbers-img-cards{
  align-items: center;
  justify-content: center;
}

.div-numbers-img-cards p{
  text-align: center!important;
}

.div-fixed-bid{
  flex-direction: column;
  grid-row-gap: 40px;
  margin-left: 0;
}

.img-15123{
  width: 100%;
  height: auto;
  display: none;
}

.div-fixed-bid-right{
  margin-top: 40px;
}

.h1-fixed-bid{
  width: 90%;
}

.p-fixed-bid{
  width: 90%;
}

/* sec-14412 */
.sec-14412{
  width: 100%;
  padding: 20px;
  height: max-content;
  align-items: flex-start;
  grid-row-gap: 30px;
}

.sec-14412 *{
  height: max-content;
}

.h1-14412-title{
  width: 90%;
  text-align: left;
  margin: 0;
  height: max-content;
}

.img-__xx{
  width: 23px;
  height: 23px;
}

.div-btn-14412{
  width: 250px;
  height: 57px;
  margin: 0!important;
}

p.p-14412{
  text-align: left!important;
  margin: 0;
  width: 90%;
  height: max-content;
}

.div-btn-14412{
  margin-top: 60px;
}

/* sec-industries-served */
.sec-industries-served{
  width: 100%;
  padding: 20px;
}

.div-rec-1796{
  width: 100%;
}

.sec-industries-served h1,p{
  height: max-content;
  text-align: left!important;
}

.h1-industries-served{
  width: 90%;
  text-align: left;
  margin-left: 0;
}

.sec-industries-served .h1-is-gc-title{
  width: 90%;
}

.div-industries-served-grid{
  flex-direction: column;
  margin-left: 0;
  padding-right: 0;
  width: 100%;
}

.div-industries-served-grid-card{
  width: 100%;
  height: max-content;
}

.p-is-gc-desc{
  width: 90%;
  height: max-content;
}

.div-industries-served-grid-right{
  grid-template-columns: 1fr;
  margin: 17px;
}

.img-temp{
  display: none;
}


/* sec-rec-1699 */
.sec-rec-1699{
  display: none;
}

.sec-rec1699{
  display: none;
}

/* sec-rec-14575 */
.sec-rec-14575{
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  grid-row-gap: 30px;
  height: max-content;
}

.sec-rec-14575 *{
  height: auto;
  margin: 0!important;
}

.h1-14575{
  width: 90%;
  text-align: left;
}


.p-14575{
  width: 90%;
  text-align: left;
  margin-top: 120px;
}

.div-btn-14575{
  margin-top: 70px;
  padding: 9px;
}

/* sec-rec-1609 */
.sec-rec-1609{
  width: 100%;
  padding: 20px;
  height: max-content;
}

.h1-1609{
  width: 90%;
  height: max-content;
}

.sec-rec-1609 h1,p, div{
  height: max-content;
}

.div-1609-grid{
  grid-row-gap: 16.25px;
  flex-direction: column;
}

.div-1609-grid-card{
  width: 100%;
  padding: 10px!important;
}

.h1-1609-grid-card,
.p-1609-grid-card{
  width: 100%;
}

/* sec-rec-1489 */
.sec-rec-1489{
  width: 95%;
  padding: 20px;
  margin: 0!important;
  height: max-content;
}

.div-1489-head{
  margin: 0;
  margin-top: 20px;
  align-self: center;
}

.p-10696{
  width: 90%;
  text-align: left;
  margin-left: 0;
  margin-top: 20px;
  align-self: center;
  text-align: center;
}

.h1-10696{
  height: max-content;
}

.img-phone-1489{
  width: 35px;
  height: 33px;
}

.p-enter-details{
  margin-top: 100px;
}

/* .div-form-text-boxes{
  grid-template-columns: 1fr;
} */

.form-textbox{
  width: 90%;
  padding: 10px;
  font-size: 15px;
}

.div-checkbox{
  flex-direction: column;
}

.ta-enq{
  width: 99%;
}

.div-submit-btn{
  margin-left: 0;
  width: 70%;
  align-self: center;
}

 /* Footer */
 footer{
  width: 100%;
}

.h1-footer-head{
  width: 90%;
  margin-left: 0;
  align-self: center;
  text-align: center;
}

.img-below-h1-footer-head{
  display: none;
}

.img-12585{
  width: 100%;
  margin-top: 51.21px;
  display: none;
}